body {
    background-color: #d3d3e2;
    overflow: hidden;
}

path {
    /* fill: rgb(110, 149, 221);
    stroke: rgb(29, 25, 25); */
    stroke-opacity: 0.1;
    cursor: move;
}

#slider-container {
    position: absolute;
    bottom: 0;
    width: 65%;
    justify-content: space-between;
    /* 内容平均分布 */
    margin: 0px 385px;
    padding: 1px;
    /* 减小padding减少白色空间 */
    background-color: #fff;
    /* 或任何您喜欢的颜色 */
    border-radius: 10px;
    /* 添加圆角 */
}

#month-slider {
    flex-grow: 1;
    /* 滑块占据剩余空间 */
    width: 80%;
    margin-top: 10px;
    margin-bottom: 23px;
    margin-left: 30px;
}

#animate-button {
    position: absolute;
    padding: 5px 20px;
    background-color: #0066cc;
    margin: -40px 695px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* 保持按钮大小，不设置flex-grow */
}


.slider-label {
    position: absolute;
    /* 绝对定位 */
    bottom: -20px;
    /* 根据实际情况调整，将标签下移以放置在滑块下方 */
    white-space: nowrap;
    /* 防止标签换行 */
    display: block;
    /* 将标签转换为块元素以应用左偏移量 */
    text-align: center;
    /* 文本居中 */
    transform: translateX(-50%);
    /* 修正标签位置，使其居中对齐 */
}

#buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align to the left */
}

.side-button {
    margin-bottom: 5px;
    /* Space between buttons */
    width: 200px;
    /* Set a fixed width, adjust as needed */
    padding: 7px 10px;
    /* Add padding to increase button size */
    cursor: pointer;
    background-color: #a4e6fc;
    /* Light blue background */
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    transition: background-color 0.3s;
    color: #333;
    /* Text color */
    font-size: 12px;
    /* Text size */
    text-align: center;
    /* Center the text */
    box-sizing: border-box;
    /* Include padding and border in the width */
}

.side-button:hover {
    background-color: #88bff7;
    /* Slightly darker blue on hover */
}

#line-chart-container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    /* 或者你希望的宽度 */
    height: 80%;
    /* 或者你希望的高度 */
    max-width: 864px;
    /* 最大宽度与 SVG 宽度匹配 */
    margin: 0 auto;
    /* 水平居中 */
    padding: 20px;
    /* 内边距 */
    border: 1px solid #ccc;
    /* 边框样式，可自定义 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* 盒子阴影效果 */
    background-color: #f9f9f9;
    /* 背景颜色 */
    display: none;
    /* 初始设置为不显示 */
}