body {
    background-color: #d3d3e2;
    overflow: hidden;
}

path {
    /* fill: rgb(110, 149, 221);
    stroke: rgb(29, 25, 25); */
    stroke-opacity: 0.2;
    cursor: move;
}

#slider-container {
    display: flex;
    /* 使用 Flexbox 布局 */
    align-items: center;
    /* 垂直居中对齐 */
    justify-content: space-between;
    /* 元素之间保持平均分布 */
    position: absolute;
    bottom: 0;
    left: 50%;
    /* 水平居中 */
    transform: translateX(-30%);
    /* 偏移自身宽度的一半来确保真正的居中 */
    width: 65%;
    /* 宽度占屏幕宽度的 65% */
    padding: 1px;
    /* 减小padding减少白色空间 */
    background-color: #fff;
    /* 或任何您喜欢的颜色 */
    border-radius: 10px;
    /* 添加圆角 */
}

#year-slider {
    flex-grow: 1;
    /* 滑块占据剩余空间 */
    margin: 10px 30px 23px 30px;
    /* 上右下左的间距 */
}

#animate-button {
    margin: 10px 10px 23px 0px;
    padding: 5px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* 不再需要设置绝对位置和外边距 */
}
.slider-scale {
    position: absolute;
    width: 100%;
    bottom: -20px;
    /* 根据需要调整以适配实际的滑块高度 */
}

.tick {
    position: absolute;
    display: block;
    text-align: center;
    margin-left: -1em;
    margin-top: -10px;
    width: 1em;
    font-size: 10px;
}


.tick::before {
    content: '';
    position: absolute;
    top: 0px;
    /* 根据需要调整 */
    left: 100%;
    width: 1px;
    height: 10px;
    background-color: #000;
    transform: translateX(-50%) translateY(-100%);
    /* 这将使刻度线往上移动 */
}
#buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align to the left */
}

.side-button {
    margin-bottom: 5px;
    /* Space between buttons */
    width: 200px;
    /* Set a fixed width, adjust as needed */
    padding: 7px 10px;
    /* Add padding to increase button size */
    cursor: pointer;
    background-color: #a4e6fc;
    /* Light blue background */
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    transition: background-color 0.3s;
    color: #333;
    /* Text color */
    font-size: 12px;
    /* Text size */
    text-align: center;
    /* Center the text */
    box-sizing: border-box;
    /* Include padding and border in the width */
}

.side-button:hover {
    background-color: #88bff7;
    /* Slightly darker blue on hover */
}

#line-chart-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -54%);
    width: 90%;
    /* 或者你希望的宽度 */
    height: 80%;
    /* 或者你希望的高度 */
    max-width: 864px;
    /* 最大宽度与 SVG 宽度匹配 */
    margin: 0 auto;
    /* 水平居中 */
    padding: 20px;
    /* 内边距 */
    border: 1px solid #ccc;
    /* 边框样式，可自定义 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* 盒子阴影效果 */
    background-color: #f9f9f9;
    /* 背景颜色 */
    display: none;
    /* 初始设置为不显示 */
}

#climate-chart {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -55%);
    width: 65%;
    /* 或者你希望的宽度 */
    height: 80%;
    /* 或者你希望的高度 */
    max-width: 964px;
    /* 最大宽度与 SVG 宽度匹配 */
    margin: 0 auto;
    /* 水平居中 */
    padding: 20px;
    /* 内边距 */
    border: 1px solid #ccc;
    /* 边框样式，可自定义 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* 盒子阴影效果 */
    background-color: #f9f9f9;
    /* 背景颜色 */
    display: none;
    /* 初始设置为不显示 */
}

.dot {
    fill: rgb(70, 155, 240);
    stroke: black;
    opacity: 0.3;
}


.country-dot {
    fill: rgb(70, 155, 240);
    stroke: grey;
    opacity: 0.5;
}
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}